<p class="text-2xl mb-4 px-4">Cartões</p>
<div class="px-6 flex overflow-auto gap-4 scrollbar-none"
     style="scroll-snap-type: x mandatory; scroll-snap-stop: normal; scroll-behavior: smooth; scroll-padding: 2rem;">
  <ng-container *ngFor="let creditCard of user?.creditCards;">
    <app-card>
      <div [id]="creditCard.id"
           appObserveElement
           [isContinuous]="true"
           [debounceTime]="5000"
           style="scroll-snap-align: start; flex: 0 0 100%"
           (isIntersecting)="selectCreditCard($event)"
           class="credit-card-carousel-item w-[80vw] h-[170px] block text-xl p-4">
        {{creditCard.title}}
      </div>
    </app-card>
  </ng-container>
</div>
<div *ngIf="selectedCreditCard" class="px-4 mt-10">
  <p class="text-3xl">{{selectedCreditCard.title}}</p>
  <p>{{selectedCreditCard.number}}</p>
  <div class="mt-4 mb-32">
    <ng-container *ngFor="let transaction of selectedCreditCard!.invoices[0].transactions">
      <div class="mb-4">
        <app-card>
          <div class="flex flex-col gap-2">
            <div class="flex flex-row justify-between">
              <p class="text-zinc-500 text-lg inline-flex items-center gap-1">
                <i class="ph-fork-knife-fill"></i>
                {{transaction.category}}
              </p>
              <p class="text-zinc-500">{{transaction.date | date: 'dd/MMM'}}</p>
            </div>
            <div class="flex flex-row justify-between">
              <p class="my-auto text-lg">{{transaction.description}}</p>
              <p class="my-auto text-yellow-200 text-xl">{{transaction.amount | currency: 'BRL'}}</p>
            </div>
          </div>
        </app-card>
      </div>
    </ng-container>
  </div>
</div>
