<div class="h-full" *ngIf="user$ | async as user">
  <p class="text-xl">
    salário&nbsp;
    <span class="text-sky-500 font-bold">{{user.salary | currency: 'BRL'}}</span>
  </p>
  <div class="mt-10">
    <app-card class="h-44"></app-card>
  </div>
  <div class="mt-10">
    <p class="text-2xl mb-4">Impacto nos gastos</p>
    <div class="flex flex-row gap-4">
      <div class="h-10 w-24 bg-zinc-900 border-[0.5px] border-zinc-800 rounded-full"></div>
      <div class="h-10 w-24 bg-zinc-900 border-[0.5px] border-zinc-800 rounded-full"></div>
      <div class="h-10 w-24 bg-zinc-900 border-[0.5px] border-zinc-800 rounded-full"></div>
    </div>
  </div>
  <div class="mt-10">
    <p class="text-2xl mb-4">Transações</p>
    <app-card></app-card>
  </div>
</div>

