<div
  id="bottom-nav"
  class="flex flex-row justify-around fixed w-full h-16 bottom-0 border-t-[0.5px] border-zinc-800 bg-zinc-900">
  <button class="flex m-auto text-3xl" routerLink="/secure/home">
    <i class="m-auto ph-house-simple-fill"></i>
  </button>
  <button class="flex h-14 w-14 m-auto text-5xl border-[0.5px] border-zinc-600 bg-zinc-700 rounded-full">
    <i class="m-auto ph-plus-fill"></i>
  </button>
  <a class="flex m-auto text-3xl" routerLink="/secure/credit-cards">
    <i class="m-auto ph-credit-card-fill"></i>
  </a>
</div>
