<div
  id="bottom-nav"
  class="flex flex-row justify-around fixed z-50 w-full h-16 bottom-0 border-t-[0.5px] border-zinc-800 bg-zinc-900">
  <app-icon-button
    size="ultra-big"
    icon="ph-house-simple-fill"
    class="flex m-auto"
    routerLinkActive="link-active"
    routerLink="/secure/home">
  </app-icon-button>
  <button
    (click)="showBottomSheet()"
    class="flex m-auto h-14 w-14 text-5xl border-[0.5px] border-zinc-600 bg-zinc-700 rounded-full">
    <i class="m-auto ph-plus-fill"></i>
  </button>
  <app-icon-button
    size="ultra-big"
    icon="ph-credit-card-fill"
    routerLinkActive="link-active"
    class="flex m-auto"
    routerLink="/secure/credit-cards">
  </app-icon-button>
</div>
<app-bottom-sheet title="Menu" #bottomSheet>
  <div class="flex flex-col gap-2 justify-evenly">
    <app-button
      (click)="addCreditCard()"
      icon="ph-cards"
      type="plain">
      Novo Cartão
    </app-button>
    <app-button
      (clickEvent)="addTransaction()"
      icon="ph-list-plus-fill"
      type="plain">
      Nova Transação
    </app-button>
  </div>
</app-bottom-sheet>
