<div *ngIf="creditCard;" class="px-4 mt-10">
  <div class="mb-10">
    <p class="mb-2">Cartão <span class="font-bold text-xl">{{creditCard.title}}</span></p>
    <app-input-date
      [value]="today"
      (changed)="getMonthInvoice($event)"
      [hideClearButton]="true"
      inputType="month"
      placeholder="02/10/2022" />
  </div>
</div>
  <div class="my-10 dark:bg-black-400 p-4">
    <ng-container *ngIf="!loading">
      <apx-chart
        [series]="chartOptions.series!"
        [chart]="chartOptions.chart!"
        [labels]="chartOptions.labels!"
      >
      </apx-chart>
    </ng-container>
  </div>
<div *ngIf="creditCard;" class="px-4 mt-10">
  <div *ngIf="!loading; else loading_skeleton">
    <div class="flex flex-row justify-between items-center">
      <div class="text-left">
        <p class="text-lg text-neutral-600 dark:text-neutral-300">Fatura de {{invoice?.month}} de {{invoice?.year}}</p>
      </div>
      <div class="text-right">
        <div></div>
        <p class="text-xl font-bold text-yellow-500 dark:text-yellow-200">{{invoiceTotalAmount | currency: 'BRL'}}</p>
      </div>
    </div>
    <div class="mt-4 mb-32">
      <div class="mb-4">
        <app-input
          icon="ph-magnifying-glass"
          placeholder="filtrar transações do {{creditCard.title}}..."
          (changed)="filterTransactions($event)" />
      </div>
      <ng-container *ngFor="let transaction of transactions">
        <div class="mb-4">
          <app-card [color]="'bg-white dark:bg-zinc-900'" (clicked)="editTransaction(transaction)">
            <div class="flex flex-col gap-2">
              <div class="flex flex-row justify-between">
                <p class="text-zinc-500 text-lg inline-flex items-center gap-1">
                  <i class="{{transaction.category | category: true }}"></i>
                  {{transaction.category | category }}
                </p>
                <p class="text-zinc-500">{{transaction.date | date: 'dd/MMM'}}</p>
              </div>
              <div class="flex flex-row justify-between">
                <p class="my-auto text-lg">
                  {{transaction.description}}
                  <span *ngIf="transaction.isInstallment">({{transaction.installmentNumber}}/{{transaction.installmentAmount}})</span>
                </p>
                <p class="my-auto text-yellow-500 dark:text-yellow-200 text-xl font-bold">{{transaction.amount | currency: 'BRL'}}</p>
              </div>
            </div>
          </app-card>
        </div>
      </ng-container>
      <ng-container *ngIf="!transactions || transactions?.length === 0">
        <div class="w-full flex flex-col items-center justify-center h-36">
          <img class="w-[64px] h-[64px]" src="../../../../assets/img/invoice.png" alt="InvoiceDto Icon"/>
          <p class="text-neutral-300">Nenhum lançamento encontrado</p>
        </div>
      </ng-container>
    </div>
  </div>
</div>
<ng-template #loading_skeleton>
  <div><h1>loading...</h1></div>
</ng-template>
<app-modal #deleteTransactionModal>
  <div class="my-2 m-auto">
    <i class="ph-trash text-7xl text-red-500"></i>
  </div>
  <p class="text-gray-600 dark:text-gray-100 text-xl font-bold py-2 px-6">
    Excluir transação?<br/>
  </p>
  <p>Esta ação removerá permanentemente essa transação.</p>
  <div class="flex border-t-[1px] border-zinc-700 items-center justify-between gap-4 w-full mt-8">
    <button
      type="button"
      (click)="deleteTransaction()"
      class="py-2 px-4 mt-4 hover:bg-red-700 focus:ring-red-500 focus:ring-offset-indigo-200 text-white w-full transition ease-in duration-200 text-center text-base font-bold focus:outline-none focus:ring-2 focus:ring-offset-2  rounded-lg ">
      excluir <ng-container *ngIf="selectedTransaction?.isInstallment">uma</ng-container>
    </button>
    <button
      *ngIf="selectedTransaction?.isInstallment"
      type="button"
      (click)="deleteTransaction(true)"
      class="py-2 px-4 mt-4 hover:bg-red-700 focus:ring-red-500 focus:ring-offset-indigo-200 text-white w-full transition ease-in duration-200 text-center text-base font-bold focus:outline-none focus:ring-2 focus:ring-offset-2  rounded-lg ">
      excluir todas ({{selectedTransaction?.installmentAmount}})
    </button>
  </div>
</app-modal>
