<div class="pb-20">
    @if (!profileService.loading) {
        <div class="flex flex-col gap-8 p-4">
            <h1 class="text-2xl font-bold">
                {{ isNotProfileUpdate ? 'Finalizar' : 'Atualizar' }} Perfil!
            </h1>
            <p class="text-sm">
                Para {{ isNotProfileUpdate ? 'finalizar' : 'atualizar' }} seu
                perfil precisamos de algumas informações adicionais. Campos
                sinalizados com * (asterísco) são obrigatórios.
            </p>
            <form
                [formGroup]="form"
                (submit)="finishProfile()"
                class="flex flex-col gap-2"
            >
                <div class="md:flex md:items-center">
                    <div class="md:w-2/3">
                        <app-input
                            id="salary"
                            name="salary"
                            formControlName="salary"
                            type="currency"
                            [required]="true"
                            [errorMessage]="'Este campo é obrigatório!'"
                            placeholder="*salário ..."
                        >
                        </app-input>
                    </div>
                </div>
                <div class="md:flex md:items-center">
                    <div class="md:w-2/3">
                        <app-input-date
                            id="monthClosureDay"
                            name="monthClosureDay"
                            formControlName="monthClosureDay"
                            icon="ph-calendar"
                            [required]="true"
                            [errorMessage]="'Este campo é obrigatório!'"
                            placeholder="*Dia do fechamento mensal ..."
                        >
                        </app-input-date>
                    </div>
                </div>
                <div class="md:flex md:items-center">
                    <div
                        class="flex flex-row items-center justify-between md:w-2/3"
                    >
                        <p class="text-sm">
                            Gostaria de fazer a conversão monetária?
                        </p>
                        <app-toggle
                            id="conversion"
                            name="conversion"
                            formControlName="conversion"
                        />
                    </div>
                </div>

                @if (shouldDoConverion) {
                    <div class="md:flex md:items-center">
                        <div class="md:w-2/3 mt-6">
                            <app-botton-nav-input
                                id="category"
                                name="category"
                                icon="ph-tag"
                                placeholder="*Categoria ..."
                                [required]="shouldDoConverion"
                                [options]="[
                                    {
                                        id: 'USD-BRL',
                                        value: 'Dólar',
                                        icon: 'ph-house-simple',
                                    },
                                ]"
                                type="other"
                                formControlName="currencyConversionType"
                            >
                            </app-botton-nav-input>
                        </div>
                    </div>

                    <div class="md:flex md:items-center mt-[-15px]">
                        <div class="md:w-2/3">
                            <app-input
                                id="currencyConversionTax"
                                name="currencyConversionTax"
                                type="currency"
                                formControlName="currencyConversionTax"
                                icon="ph-currency-circle-dollar"
                                placeholder="Taxa de conversão monetária ..."
                            >
                            </app-input>
                        </div>
                    </div>

                    <div class="md:flex md:items-center">
                        <div class="md:w-2/3">
                            <app-input
                                id="salaryConverionTax"
                                name="salaryConverionTax"
                                type="currency"
                                formControlName="salaryConverionTax"
                                icon="ph-currency-circle-dollar"
                                placeholder="Imposto sobre salário ..."
                            >
                            </app-input>
                        </div>
                    </div>
                }

                <button
                    [disabled]="validateSalaryField()"
                    type="submit"
                    [ngClass]="{
                        'bg-gray-200 hover:bg-gray-200 focus:bg-gray-200 focus:outline-none':
                            validateSalaryField(),
                    }"
                    class="mt-6 flex items-center justify-center w-full px-6 py-3 text-md font-medium text-white transition-colors duration-300 transform bg-blue-500 rounded-lg hover:bg-blue-400 focus:bg-blue-400 focus:outline-none"
                >
                    <span class="mx-2 sm:inline">{{
                        loading
                            ? 'loading...'
                            : isNotProfileUpdate
                              ? 'Finalizar'
                              : 'Salvar'
                    }}</span>
                </button>
            </form>
        </div>
    } @else {
        <div class="p-4 m-4">
            <p class="text-xs text-gray-500">loading...</p>
        </div>
    }
</div>
