/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  @apply h-dvh bg-zinc-50;
  font-family: 'Heebo', sans-serif;
  font-optical-sizing: auto;
}

.button {
  @apply
  px-6 py-2
  font-medium
  tracking-wide
  text-white
  capitalize
  transition-colors
  duration-300
  transform
  rounded-lg
  focus:outline-none
  focus:ring
  focus:ring-opacity-80
}

.button,
.primary {
  @apply focus:ring-blue-300
  bg-blue-600
  hover:bg-blue-500;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
  scrollbar-width: none;
}
