<div class="wrapper">
  <div class="h-full flex flex-col justify-start mt-24">
    <p class="text-xl">Entrar</p>
    <p class="text-sm">
      ao continuar, você concorda com nosso <b>Contrato de Usuário</b> e nossa <b>Política de Privacidade</b></p>
    <div class="mt-4">
      <form [formGroup]="formGroup" (ngSubmit)="login()">
        <div class="mb-5">
          <app-input
            id="username"
            icon="ph-user"
            placeholder="Usuário"
            name="email"
            [invalid]="email?.invalid ?? false"
            formControlName="email"></app-input>
          <p *ngIf="email?.invalid && email?.touched" id="email-error-message" class="text-red-600">
            Este campo é obrigatório</p>
        </div>
        <div class="mb-5 bg-transparent">
          <app-input
            id="password"
            name="password"
            formControlName="password"
            icon="ph-lock-fill"
            inputType="password"
            [invalid]="password?.invalid ?? false"
            placeholder="Senha">
          </app-input>
          <p *ngIf="password?.invalid && password?.touched" id="password-error-message" class="text-red-600">
            Este campo é obrigatório</p>
        </div>
        <app-loading-button
          class="w-full"
          [loading]="loading"
          [disabled]="formGroup.invalid || loading"
          loadingLabel="acessando..."
          type="submit">
          Entrar
        </app-loading-button>
      </form>
    </div>
    <div class="mt-4">
      <p>esqueceu o nome de <a href="#" class="text-sky-500">usuário</a> ou <a href="#" class="text-sky-500">senha</a>?</p>
      <p class="text-xl mt-4">primeira vez aqui? <a routerLink="/register" class="text-sky-500">Registre-se!</a></p>
    </div>
  </div>
</div>
<app-message #message></app-message>
